.main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sub_div {
    height: 127px; 
    position: fixed; 
    bottom:0%;
    width:100%;
    text-align: center;
}
